USE [master]
GO
/****** Object:  Database [EventManagement]    Script Date: 02-17-2025 01:06:17 ******/
CREATE DATABASE [EventManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EventManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EventManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EventManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EventManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EventManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EventManagement]
GO
/****** Object:  Table [dbo].[EventEnrollments]    Script Date: 02-17-2025 01:06:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventEnrollments](
	[EnrollmentID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[EventID] [int] NOT NULL,
	[EnrolledAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EnrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserEvents]    Script Date: 02-17-2025 01:06:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserEvents](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](500) NULL,
	[EventDescription] [varchar](max) NULL,
	[EventDate] [date] NULL,
	[EventTime] [time](7) NULL,
	[Location] [varchar](500) NULL,
	[TotalSeats] [int] NULL,
	[CreateDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserNotification]    Script Date: 02-17-2025 01:06:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserNotification](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[EventID] [int] NOT NULL,
	[IsRead] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[NotificationType] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02-17-2025 01:06:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(200,1) NOT NULL,
	[FirstName] [varchar](256) NULL,
	[LastName] [varchar](256) NULL,
	[Email] [varchar](256) NULL,
	[Password] [varchar](500) NULL,
	[UserRole] [int] NULL,
	[CreateDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EventEnrollments] ON 

INSERT [dbo].[EventEnrollments] ([EnrollmentID], [UserID], [EventID], [EnrolledAt]) VALUES (8, 201, 5, CAST(N'2025-02-17T00:07:27.833' AS DateTime))
INSERT [dbo].[EventEnrollments] ([EnrollmentID], [UserID], [EventID], [EnrolledAt]) VALUES (10, 201, 4, CAST(N'2025-02-17T00:58:33.210' AS DateTime))
INSERT [dbo].[EventEnrollments] ([EnrollmentID], [UserID], [EventID], [EnrolledAt]) VALUES (11, 201, 1, CAST(N'2025-02-17T01:00:16.817' AS DateTime))
SET IDENTITY_INSERT [dbo].[EventEnrollments] OFF
GO
SET IDENTITY_INSERT [dbo].[UserEvents] ON 

INSERT [dbo].[UserEvents] ([EventID], [Title], [EventDescription], [EventDate], [EventTime], [Location], [TotalSeats], [CreateDate]) VALUES (1, N'Test', N'Events', CAST(N'2025-02-27' AS Date), CAST(N'12:00:00' AS Time), N'test Desc', 44, CAST(N'2025-02-16T00:09:01.163' AS DateTime))
INSERT [dbo].[UserEvents] ([EventID], [Title], [EventDescription], [EventDate], [EventTime], [Location], [TotalSeats], [CreateDate]) VALUES (3, N'Event Title', N'Event Description', CAST(N'2025-03-01' AS Date), NULL, N'Location of Event', 12, CAST(N'2025-02-16T03:00:28.923' AS DateTime))
INSERT [dbo].[UserEvents] ([EventID], [Title], [EventDescription], [EventDate], [EventTime], [Location], [TotalSeats], [CreateDate]) VALUES (4, N'What is Lorem Ipsum?', N'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry''s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, ', CAST(N'2025-03-01' AS Date), CAST(N'12:20:00' AS Time), N'Location', 13, CAST(N'2025-02-16T03:33:18.647' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserEvents] OFF
GO
SET IDENTITY_INSERT [dbo].[UserNotification] ON 

INSERT [dbo].[UserNotification] ([NotificationID], [UserID], [EventID], [IsRead], [CreatedAt], [NotificationType]) VALUES (7, 201, 4, 0, CAST(N'2025-02-16T23:05:49.967' AS DateTime), 2)
INSERT [dbo].[UserNotification] ([NotificationID], [UserID], [EventID], [IsRead], [CreatedAt], [NotificationType]) VALUES (8, 201, 5, 0, CAST(N'2025-02-16T23:49:30.427' AS DateTime), 2)
INSERT [dbo].[UserNotification] ([NotificationID], [UserID], [EventID], [IsRead], [CreatedAt], [NotificationType]) VALUES (9, 201, 3, 0, CAST(N'2025-02-16T23:50:02.070' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[UserNotification] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [Email], [Password], [UserRole], [CreateDate]) VALUES (200, N'Admin', N'User', N'admin@gmail.com', N'0AgCLHs9WfY4vzxB7klx4Zedj73Ri5rMVcui3YwaX2I=', 1, CAST(N'2025-02-15T09:34:41.467' AS DateTime))
INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [Email], [Password], [UserRole], [CreateDate]) VALUES (201, N'User', N'account', N'useraccount@gmail.com', N'0AgCLHs9WfY4vzxB7klx4Zedj73Ri5rMVcui3YwaX2I=', 2, CAST(N'2025-02-16T17:27:14.860' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[EventEnrollments] ADD  DEFAULT (getdate()) FOR [EnrolledAt]
GO
ALTER TABLE [dbo].[UserEvents] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[UserNotification] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[UserNotification] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getutcdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[EventEnrollments]  WITH CHECK ADD FOREIGN KEY([EventID])
REFERENCES [dbo].[UserEvents] ([EventID])
GO
ALTER TABLE [dbo].[EventEnrollments]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserNotification]  WITH CHECK ADD FOREIGN KEY([EventID])
REFERENCES [dbo].[UserEvents] ([EventID])
GO
ALTER TABLE [dbo].[UserNotification]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
/****** Object:  StoredProcedure [dbo].[AddNewUser]    Script Date: 02-17-2025 01:06:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROC [dbo].[AddNewUser]
(
@FirstName varchar(256),
@LastName varchar(256),
@Email varchar(256),
@Password varchar(500)
)
AS
BEGIN

IF NOT EXISTS(SELECT 1 FROM dbo.Users WHERE Email=@Email )
BEGIN
INSERT INTO dbo.Users (FirstName,LastName,Email,[Password],UserRole,CreateDate)
 VALUES (@FirstName,@LastName,@Email,@Password,2,GETDATE())
 SELECT 1
END
ELSE
BEGIN
SELECT -2
END
END
GO
/****** Object:  StoredProcedure [dbo].[Admin_CreateUserEvent]    Script Date: 02-17-2025 01:06:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[Admin_CreateUserEvent]
@Title varchar(500),
@EventDescription varchar(max),
@EventDate date,
@EventTime time,
@Location varchar(500),
@TotalSeats int
AS
BEGIN
INSERT INTO dbo.UserEvents(Title,EventDescription,EventDate,EventTime,[Location],TotalSeats,CreateDate)
VALUES (@Title,@EventDescription,@EventDate,@EventTime,@Location,@TotalSeats,GETDATE())
SELECT 1
END

GO
/****** Object:  StoredProcedure [dbo].[Admin_DeleteUserEvent]    Script Date: 02-17-2025 01:06:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[Admin_DeleteUserEvent]
(
@EventID int
)
AS
BEGIN
IF EXISTS(SELECT 1 FROM dbo.UserEvents WHERE EventID=@EventID)
BEGIN

			DELETE FROM dbo.UserNotification WHERE EventID=@EventID
		Delete dbo.UserEvents WHERE EventID=@EventID
		SELECT 1
END
ELSE
BEGIN
Select -2
END
END

GO
/****** Object:  StoredProcedure [dbo].[Admin_EditUserEvent]    Script Date: 02-17-2025 01:06:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create PROC [dbo].[Admin_EditUserEvent]
(
@EventID int,
@Title varchar(500),
@EventDescription varchar(max),
@EventDate date,
@EventTime time,
@Location varchar(500),
@TotalSeats int
)
AS
BEGIN
IF EXISTS(SELECT 1 FROM dbo.UserEvents WHERE EventID=@EventID)
BEGIN
		Update dbo.UserEvents 
							SET Title=@Title,
							EventDescription=@EventDescription,
							EventDate=@EventDate,
							EventTime=@EventTime,
							[Location]=@Location,
							TotalSeats=@TotalSeats
			WHERE EventID=@EventID

SELECT 1
END
ELSE
BEGIN
Select -2
END
END

GO
/****** Object:  StoredProcedure [dbo].[Admin_GetEnrolledUserList]    Script Date: 02-17-2025 01:06:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE Proc [dbo].[Admin_GetEnrolledUserList]
(
@EventID int
)
AS
BEGIN

Select  1 as Result, FirstName,LastName,Email FROM
dbo.Users as U
INNER JOIN dbo.EventEnrollments AS UE ON UE.UserID=U.UserID
WHERE UE.EventID=@EventID
END
GO
/****** Object:  StoredProcedure [dbo].[Admin_GetEvents]    Script Date: 02-17-2025 01:06:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[Admin_GetEvents]
AS
BEGIN
SELECT  
    1 AS Result, 
    ue.EventID, 
    ue.Title, 
    ue.EventDescription, 
    ue.EventDate, 
    ue.EventTime, 
    ue.[Location], 
	ue.TotalSeats,
    (ue.TotalSeats - ISNULL(enrolled.Count, 0)) AS AvailableSeats
FROM dbo.UserEvents ue
LEFT JOIN (
    SELECT EventID, COUNT(*) AS Count 
    FROM dbo.EventEnrollments 
    GROUP BY EventID
) enrolled ON ue.EventID = enrolled.EventID

ORDER BY ue.CreateDate desc
END
GO
/****** Object:  StoredProcedure [dbo].[Admin_GetUsers]    Script Date: 02-17-2025 01:06:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROC [dbo].[Admin_GetUsers]
(
@UserID int
)
AS
BEGIN

SELECT 1 as Result, UserID,FirstName,LastName,Email,UserRole,CreateDate 
FROM  dbo.Users where  UserID != @UserID

END
GO
/****** Object:  StoredProcedure [dbo].[Admin_InsertEventNotifications]    Script Date: 02-17-2025 01:06:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Admin_InsertEventNotifications]
(
@EventID int
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Insert notification for users if the event is happening tomorrow and they haven't received it yet
    INSERT INTO UserNotification (UserID, EventID, IsRead, CreatedAt, NotificationType)
    SELECT 
        U.UserID, 
        E.EventID, 
        0, 
        GETDATE(),
        2  -- NotificationType = 2 for upcoming event
    FROM Users U
    CROSS JOIN UserEvents E
    WHERE U.UserRole = 2
    AND E.EventID= @EventID
    AND NOT EXISTS ( SELECT 1 FROM UserNotification 
        WHERE UserNotification.UserID = U.UserID 
        AND UserNotification.EventID = E.EventID 
        AND UserNotification.NotificationType = 2
    );
	select 1
END;
GO
/****** Object:  StoredProcedure [dbo].[Admin_UpdateUserRole]    Script Date: 02-17-2025 01:06:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



Create PROC [dbo].[Admin_UpdateUserRole]
(
@UserID int,
@UserRole int
)
AS
BEGIN

UPDATE dbo.Users SET UserRole=@UserRole  where  UserID = @UserID
SELECt 1
END
GO
/****** Object:  StoredProcedure [dbo].[Get_LoginUser]    Script Date: 02-17-2025 01:06:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE Proc [dbo].[Get_LoginUser]
(
@Email varchar(256)
)
AS
BEGIN
IF EXISTS(SELECT 1 FROM dbo.Users Where Email=@Email)
BEGIN
		Select 1 as Result, UserID,FirstName,LastName,Email,Password,UserRole
		FROM dbo.Users Where Email=@Email 
END
ELSE 
BEGIN
SELECT -2 as Result
END

END
GO
/****** Object:  StoredProcedure [dbo].[Get_UnreadNotifications]    Script Date: 02-17-2025 01:06:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- [dbo].[Get_UnreadNotifications]   201
CREATE PROCEDURE [dbo].[Get_UnreadNotifications]  
    @UserID INT  
AS  
BEGIN  
    SET NOCOUNT ON;  

  SELECT  
    UN.NotificationID,  
    UN.EventID,  
    E.Title,  
    E.EventDescription,  
    E.EventDate,  
    E.EventTime,  
    UN.CreatedAt,  
    UN.NotificationType,
    CASE  
        WHEN EXISTS (  
            SELECT 1 FROM EventEnrollments EE  
            WHERE EE.EventID = UN.EventID  
            AND EE.UserID = @UserID  
        ) THEN 1  
        ELSE 0  
    END AS EventEnrolled  -- Check if the user is enrolled
FROM  
    UserNotification UN  
INNER JOIN  
    UserEvents E ON UN.EventID = E.EventID  
WHERE  
    UN.UserID = @UserID  
    AND UN.IsRead = 0  
ORDER BY  
    UN.CreatedAt DESC;

END;
GO
/****** Object:  StoredProcedure [dbo].[User_CancelEventEnrollment]    Script Date: 02-17-2025 01:06:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create PROC [dbo].[User_CancelEventEnrollment]
(
@EventID int,
@UserID int
)
AS
BEGIN

IF  EXISTS(SELECT 1 FROM dbo.EventEnrollments WHERE UserID=@UserID AND EventID=@EventID)
BEGIN
Delete dbo.EventEnrollments  WHERE UserID=@UserID AND EventID=@EventID
  SELECT 1
  END
  ELSE
  SELECT -2
END
GO
/****** Object:  StoredProcedure [dbo].[User_ClearAllNotification]    Script Date: 02-17-2025 01:06:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- [dbo].[Get_UnreadNotifications]   201
CREATE PROCEDURE [dbo].[User_ClearAllNotification]  
    @UserID INT  
AS  
BEGIN  
    SET NOCOUNT ON;  


	Update UserNotification SET IsRead=1 where UserID=@UserID
	select 1
END;
GO
/****** Object:  StoredProcedure [dbo].[User_GetEventDetail]    Script Date: 02-17-2025 01:06:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[User_GetEventDetail]
(
    @EventID INT,
    @UserID INT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT  
        1 AS Result, 
        ue.EventID, 
        ue.Title, 
        ue.EventDescription, 
        ue.EventDate, 
        ue.EventTime, 
        ue.[Location], 
        ue.TotalSeats,
        (ue.TotalSeats - ISNULL(enrolled.Count, 0)) AS AvailableSeats,
        CASE 
            WHEN EXISTS (SELECT 1 FROM dbo.EventEnrollments ee WHERE ee.EventID = @EventID AND ee.UserID = @UserID) 
            THEN 1 ELSE 0 
        END AS EventEnrolled 
    FROM dbo.UserEvents ue
    LEFT JOIN (
        SELECT EventID, COUNT(*) AS Count 
        FROM dbo.EventEnrollments 
        GROUP BY EventID
    ) enrolled ON ue.EventID = enrolled.EventID
    WHERE ue.EventID = @EventID AND ue.EventDate > GETDATE();
END
GO
/****** Object:  StoredProcedure [dbo].[User_GetEvents]    Script Date: 02-17-2025 01:06:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[User_GetEvents]
(
    @UserID INT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT  
        1 AS Result, 
        ue.EventID, 
        ue.Title, 
        ue.EventDescription, 
        ue.EventDate, 
        ue.EventTime, 
        ue.[Location], 
        ue.TotalSeats,
        (ue.TotalSeats - ISNULL(enrolled.Count, 0)) AS AvailableSeats,
        CASE 
            WHEN EXISTS (
                SELECT 1 FROM dbo.EventEnrollments ee 
                WHERE ee.EventID = ue.EventID AND ee.UserID = @UserID
            ) 
            THEN 1 ELSE 0 
        END AS EventEnrolled  -- Check if the user is enrolled in this event
    FROM dbo.UserEvents ue
    LEFT JOIN (
        SELECT EventID, COUNT(*) AS Count 
        FROM dbo.EventEnrollments 
        GROUP BY EventID
    ) enrolled ON ue.EventID = enrolled.EventID
    WHERE ue.EventDate > GETDATE();  -- Fetch only future events
END
GO
/****** Object:  StoredProcedure [dbo].[User_InsertEventEnrollment]    Script Date: 02-17-2025 01:06:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create PROC [dbo].[User_InsertEventEnrollment]
(
@EventID int,
@UserID int
)
AS
BEGIN

IF NOT EXISTS(SELECT 1 FROM dbo.EventEnrollments WHERE UserID=@UserID AND EventID=@EventID)
BEGIN
Insert INTO dbo.EventEnrollments (UserID,EventID,EnrolledAt)
  VALUES (@UserID,@EventID,GETDATE())
  SELECT 1
  END
  ELSE
  SELECT -2
END
GO
/****** Object:  Trigger [dbo].[trg_InsertEventNotification]    Script Date: 02-17-2025 01:06:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_InsertEventNotification]
ON [dbo].[UserEvents]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO UserNotification (UserID, EventID, IsRead, CreatedAt,NotificationType)
    SELECT 
        U.UserID, 
        I.EventID, 
        0, 
        GETDATE(),1
    FROM Users U
    CROSS JOIN Inserted I
	where U.UserRole=2;
END;
GO
ALTER TABLE [dbo].[UserEvents] ENABLE TRIGGER [trg_InsertEventNotification]
GO
USE [master]
GO
